# Use text-based install
text

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

#  System Timezone
timezone Asia/Kolkata --utc

# network information
network --bootproto=dhcp --device=link --activate

# network source
# url --url=http://192.168.10.1/rhel8
# repo --name=AppStream --baseurl=http://192.168.10.1/rhel8/AppStream/

# packages
%packages --ignoremissing
@^graphical-server-environment
@core
@standard
@development
@graphical-admin-tools
@headless-management
@network-server
@security-tools
@system-tools
vim
git
tmux
emacs
%end

# partition
zerombr
clearpart --all --initlabel
autopart


# Root password
rootpw --iscrypted $6$JzrqRv/ViLwU/t5X$cdGzn/YnO2H9.7TO.4PRw9yopsaFcyxWSjhIzze9oAQ5jWSGJEes50nHZP5IOk54JVGau1iyVQt0r.aFacmjl0
user --name=tempuser --groups=wheel --iscrypted --password=$6$XqGb7hp09MVz83MX$1ojH3pSXNYa/EFWjfhQT8cYx6hzbWKBZ3MZt3IuKOCu9465cJRtCvhq6yJtaGao3I5nzSYnPvCjKBmtx2Tnjc1

# set userinterface as gui
%post --interpreter=bash

cat > /home/tempuser/post-login.sh << 'EOF'

sudo echo "=============================================================================================="
echo "Welcome to Set user name screen. This script is to set username and password to your prefrence"
echo "=============================================================================================="

read -p "enter desired username: " USER_NAME

while [ -z "$USER_NAME" ]; do
      echo "username cannot be empty"
      read -p "enter desired username: " USER_NAME
done

sudo useradd -m $USER_NAME
sudo passwd $USER_NAME

sudo sed '/\/home\/tempuser\/post-login.sh/d' $HOME/.bashrc
rm -rf $HOME/post-login.sh
sudo systemctl set-default graphical.target
echo "================================================================================================================="
echo "Rebooting. ${USER} will expire. Login with ${USER_NAME} and ${USER_NAME}'s password on next login. B-Bye!"
echo "================================================================================================================="
sleep 5
sudo chage -E 0 tempuser 2>/dev/null
sleep 1
reboot

EOF

chmod +x /home/tempuser/post-login.sh
chmod tempuser:tempuser /home/tempuser/post-login.sh
echo "[ -f /home/tempuser/post-login.sh ] && /home/tempuser/post-login.sh" >> /home/tempuser/.bashrc

%end

# poweroff after installation
poweroff
