# Use text-based install
text

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

#  System Timezone
timezone Asia/Kolkata --utc

# network information
network --bootproto=dhcp --device=link --activate

# network source

# packages
%packages --ignoremissing
@^graphical-server-environment
@core
@standard
@development
@graphical-admin-tools
@headless-management
@network-server
@security-tools
@system-tools
vim
git
tmux
emacs
%end

# partition
zerombr
clearpart --all --initlabel
autopart


# Root password
rootpw --iscrypted $6$GF8rYCXD/fJXDSiE$.srRjdcvBk10.8xL8.RJbxjnNKQA7oQbBjPAJghUOOz1oiYXHeKBR3SbPsXfu8LNmVVVGkfZYbv3xTsGljd5/.
user --groups=wheel --name=sagar --password=$6$6zTXC2TxLaUwGshK$T2OJZYLJ3kFjYx2Hscc5I7/bSJIRfYFg0SaHv2f.6h7Z40/D5XonCm57sOdvPjbqbNogHq8nunsdh3wJ/O95o0 --iscrypted --gecos="sagar chandrol"
user --name=harry --gecos="harry bantai" --iscrypted --password=$6$v3s929A6C5hxHXGa$wMb37uG7s8A5eHwFv2/Oj5TJYaFycYQM0SLKSTFBZ63W6pM6N7kDvxzN9gbLRhVet36XwdtpU1Vp8/iLR3COu.

# poweroff after installation
poweroff

# set userinterface as gui
%post --log=/root/ks-post.log
systemctl set-default graphical.target
%end