# Use text-based install
text

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

#  System Timezone
timezone Asia/Kolkate --utc

# network information
network --bootproto=dhcp --device=link --activate

# network source
url --url http://192.168.10.1/rhel8/BaseOS
repo --name=AppStream --baseurl=http://192.168.10.1/rhel8/Appstream

# packages
%packages --ignoremissing
@core
@standard
@development
@graphical-admin-tools
@headless-management
@network-server
@security-tools
@system-tools
%end

# partition
zerombr
clearpart --all --initlabel
autopart


# Root password
rootpw --iscrypted $6$JzrqRv/ViLwU/t5X$cdGzn/YnO2H9.7TO.4PRw9yopsaFcyxWSjhIzze9oAQ5jWSGJEes50nHZP5IOk54JVGau1iyVQt0r.aFacmjl0
user --groups=wheel --name=sagar --password=$6$JMSkwUroGJ6DYn/s$jW75U2WlRQPkZZr1o8cxTjDqwk0TxaBaBCIPkdXuK5wgr6wKTVviMKcGwdNeZ5lBquI6PumApysdNK2FSkVDp0 --iscrypted --gecos="sagar chandrol"

# reboot after installation
reboot